<html>
    <head>
        <title>CTRL+ALT+DELAY!!!</title>
        <link rel="stylesheet" href="static/styles/login.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="static/scripts/form_submit.js"></script>
    </head>
    <body>
        <br>
        <br>
        <h1>LOGIN</h1>
        <input type="tel" name="phone_number" placeholder="Enter your phone number" pattern="[0-9]{10}" required>
        <br>
        <br>
        <input type="upi_id" name="upi_id" placeholder="Enter your UPI ID">
        <br>
        <br>
        <input type="pin" name="pin" placeholder="Enter your UPI Pin">   
        <br> 
        <br>    
        <button id="submit" onclick='submit()' type="button" name="login_button">Submit</button>
    </body>
</html>
