<html>
    <header>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <title>
            CTRL+ALT+DELAYS!!!
        </title>
    </header>
    <body>
        <div class="center-button">
        <button id="touchpad" class="central">
            Touch pad
        </button>
        <button id="mic" class="central">
            <img src="static/images/mic.jpg" alt="Mic">
        </button>
        </div>
    <script src="static/scripts/mic.js"></script>
    <script src="static/scripts/touchpad.js"></script>
    <style>
        .central{
            height: 560px;
            width: 560px;
        }

        img {
            height: 100%;
            width: 100%;
        }

        #mic {
        }

        .center-button
            {
            display:flex;
            align-items:center;
            justify-content: center;
        }
    </style>
    </body>
</html>
